.Movie_Columns{
    margin: 100px;
    height: 1300px;;
    width: 780px;
    float: left;
    background: white;
}

body{
    background-color: #eff3f7;
}

.Movie_Columns_poster img{
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Movie_Columns_title h1{
    text-align: center;
}

.Movies_synopsis p{
    text-align: center;
}