.Movie_Columns{
    margin: 200px;
    height: 1300px;;
    width: 780px;
    float: left;
    background: white;
    border-radius: 30px;
    border-right: 15px solid #ccc;
    border-bottom: 15px solid #999;
}

body{
    background-color: #eff3f7;
}
.Movie_Columns_title h1{
    text-align: center;
    font-size: 40px;
}

.Movie_Columns_title{
    margin: 100px 40px auto;
}

 p{
    width: 700px;
    height: 700px;
    text-align: center;
    font-size: 32px;
    max-height: 14em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.Movie_Columns_Genres{
    text-align: center;
}

.Movie_Columns_Genres span{
    font-size: 35px;
}

.Movie_Columns_poster img{
    width: 600px;
    height: 600px;
    margin-top: -100px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(11px 18px 12px black);
}